html {
  font-size: 14px;
}

body {
  background: black;
  color: silver;
}

#elm-app {
  display: inline-block;
  width: 16cm;
  height: 9cm;
  color: black;
  background-color: whitesmoke;
  border: 5px ridge gray;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*
 * MAIN
 */

.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #152E4D;
  background-image: url('../media/bg.jpg');
  background-size: cover;
}

/*
 * RESOURCES
 */

.resources {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3.5em;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 70%, rgba(96, 96, 96, 0.85));
  box-shadow: 0 0 0.25em black;
  z-index: 3
}

.resources .contents {
  width: 12em;
  margin-left: auto;
}

.resources .contents div.item {
  display: inline-block
}

.resources .contents span.label {
  display: inline-block;
  width: 2em;
  color: white;
}

.resources .contents span.value {
  display: inline-block;
  width: 4em;
  color: #ffbb00;
  font-weight: bold;
}

.items .contents div.item {
  display: inline-block;
  margin-right: 2em;
}

/*
 * ITEMS
 */

.items {
  position: absolute;
  top: 3.5rem;
  width: 100%;
  height: 1.75rem;
  border-bottom: 1px solid #aaa;
  padding: 0.25rem 1.25rem;
  box-sizing: border-box;
  font-size: 0.8em;
  text-align: right;
  background-color: rgba(96, 96, 96, 0.85);
  box-shadow: 0 0 0.25em black;
  z-index: 2;
}

.items .contents div.item:last-child {
  margin-right: 0;
}

.items .contents span.label {
  margin-right: 0.5em;
  color: white;
}

.items .contents span.value {
  color: #ffbb00;
}

/*
 * SLOT LIST
 */

.slot-list {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding-top: 4.25rem;
  width: calc(100% + 16px);
  height: 100%;
  overflow-y: scroll;
  z-index: 1;
}

/*
 * SLOT
 */

.slot {
  display: flex;
  position: relative;
  margin: 1rem;
  box-sizing: border-box;
  border: 3px solid #303030;
  background-color: #303030;
}

.slot .mid {
  padding: 0.5em 1em;
  color: white;
  font-family: 'dosis';
  text-align: center;
}

.slot .mid span {
  display: block;
}

.slot .mid .title {
  line-height: 1em;
  opacity: 0.5;
}

.slot .mid .num {
  margin-top: -0.1em;
  font-size: 3em;
  line-height: 1.1em;
}

.slot .mid .standby {
  font-size: 0.6em;
  line-height: 1em;
  opacity: 0.5;
}

.slot.locked .mid {
  width: 100%;
  z-index: 1;
}

.slot.locked .mid .standby {
  visibility: hidden;
}

.slot.locked .label {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 50%;
  padding: 0.1rem 0.5rem;
  position: absolute;
  left: 25%;
  bottom: 0.1em;
  background-color: orangered;
  font-family: 'dosis';
  font-size: 1.75em;
  color: white;
  z-index: 0;
}

.slot .left {
  flex: 1;
  background: linear-gradient(to right, yellowgreen, white);
}

.slot .right {
  flex: 1;
  background-color: #484848;
}

.slot .left > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.start-button {
  padding: 0.25em 0.75em;
}

.start-button .caption {
  font-size: 0.75em;
}

.start-button .title {
  font-size: 1.75em;
  font-weight: bold;
}

.progress {
  padding: 0.25em;
}

.progress .time-remaining {
  display: flex;
  width: 45%;
  justify-content: space-between;
  font-family: 'dosis';
  font-size: 1.75rem;
  align-items: baseline;
}

.progress .time-remaining .hundredth {
  font-size: 0.6em;
}

.progress button {
  width: 45%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  padding: 1px 5px; 
  box-sizing: border-box;
  border-top-left-radius: 7px;
  box-shadow: 0 0 3px black, inset 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.progress button.finish-now {
  background-color: #303030;
  color: white;
}

.progress button.finish {
  background-color: yellowgreen;
  border: 1px solid white;
  color: black;
}

/*
 * ORDER FORM
 */

.order-form {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: calc(5.25rem - 1px);
  left: 1rem;
  width: calc(100% - 1rem);
  height: calc(100% - 6.25rem);
  padding: 0.5rem 0;
  box-sizing: border-box;
  border: 1px solid rgba(144, 208, 48, 0.4);
  background-color: rgba(48, 48, 48, 0.9);
  box-shadow: inset 0 0 4rem rgba(144, 208, 48, 0.3);
  color: white;
  z-index: 32768;
}

.order-form .left {
  margin-left: 0.5rem;
  background-color: #303030;
  box-shadow: inset 0 0 0.5rem #101010;
  padding: 2px;
}

.order-form .left header {
  margin: 0.5rem;
  text-align: center;
}

.order-form .left header span {
  display: block;
}

.order-form .left header .title {
  font-size: 0.8rem;
}

.order-form .left header .label {
  font-size: 0.6rem;
}

.order-form .left header .tickets {
  margin-top: 0.25rem;
  font-family: 'dosis';
  font-size: 1.25rem;
}

.order-form .left button {
  width: 100%;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  font-size: 1.25rem;
  margin-top: 5px;
  padding: 0.25rem 1rem;
}

.order-form .left .confirm {
  background-color: #ffcc00;
}

.order-form .left .cancel {
  padding: 0 1rem;
}

.order-form .right {
  flex: 1;
  height: 100%;
}

.order-form .box {
  width: 5rem;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.2);
  box-shadow: 0 0 0.5rem #303030;
}

/*
 * VALUE CONTROL
 */

.value-control {
  display: inline-flex;
  box-sizing: border-box;
  margin: 0.5rem;
  width: calc(50% - 1rem);
  height: calc(50% - 1rem);
  border: 1px solid rgba(144, 208, 48, 0.5);
  box-shadow: 0 0 0.25em rgba(255, 255, 255, 0.25), inset 0 0 2em rgba(144, 208, 48, 0.5);
  background-color: rgba(64, 64, 64, 0.5);
}

.value-control .label {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.value-control .digit-control {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.value-control .digit-control button {
  flex: 2;
  background-color: yellowgreen;
  border: 1px solid black;
  margin: 1px;
}

.value-control .digit-control .digit {
  flex: 3;
  border-top: 2px dashed yellowgreen;
  border-bottom: 2px dashed yellowgreen;
  margin: 2px;
  padding: 1px 0;
  text-align: center;
}

.value-control .digit-control .digit span {
  display: block;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid yellowgreen;
  font-family: 'dosis';
  font-size: 2.5rem;
  line-height: 1em;
}

/*
 * RESULT
 */

.doll-result {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.doll-result video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 2147483647;
}

.doll-result .idw-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../media/idw.jpg');
  background-size: cover;
  z-index: 2147483646;
}

.doll-result .hidden {
  opacity: 0;
  pointer-events: none;
}
